.konten .img1{
    width: 15px;
height: 15px;
}

.konten h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1E272E;
}

.konten h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1E272E;
}

.akun h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #696967;
}
.prf{
    width: 301px;
height: 17px;
  }
.akun h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1E272E;
}

.konten h3{
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1E272E;
}

.konten h4{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F3001F;
}