.konten1 .card {
    border:  none;
    max-width: 540px;
}

.konten1 .card .img1{
    width: 90px;
    height: 90px;
}

.konten .img{
    width: 400px;
    height: 400px;
}

.konten1 .card h1{
    
font-family: 'Product Sans';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;
color: #000000;
}

.konten1 .card h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #B0B0B0;

}