
@font-face {
    font-family: "Product Sans";
    src: url("Font/Product Sans Regular.ttf");
  }
  /* devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .input-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }
  *,
  body {
    font-family: "Product Sans";
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
  }
  
  .contain {
    border-radius: 24px !important;
    width: 100%;
    display: flex;
    margin: 0 auto;
    min-height: 640px;
  }
  .box{
    margin: 10px 0px;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  .content h3{
    color: #747D8C;
    font-size: 14px;
  }
  .content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-style: bold;
  }
  .content h5 {
    font-size: 14px;
  }
  .content p {
    font-size: 10px;
  }
  .content button{
    max-width: 100%;
    display: flex;
  margin: 0 auto;
  font-size: 14px;
  padding: 8px 40%;
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: #E4E5EA;
  
  }
  .content button:hover {
    background-color: #EC2028;
    color: #fff;
  }
  .mobile-text {
    color: #989696b8;
    font-size: 15px;
  }

  
  h1{
font-family: Product Sans;
font-style: normal;
font-weight: normal;
text-align: center;
color: #292D32;
  }

  p{
    font-family: Product Sans;
    font-size: 30px; 
    color: #ffffff;
  }

  .img_1{
    border-radius: 100%; 
    width: 53px; 
    height: 53px; 
    margin-left: auto; 
    margin-top: 30px;
  }


  h5{
    color: #B0B0B0;
  }

  h6{
      font-family: Product Sans;
    
    color: #ffffff;
    
  }
  
  
  h2{

    font-family: Product Sans;
    color: #000000;
    
  }

  h3{
    font-family: Product Sans;
    color: #B0B0B0;
    
  }
  
  .search h2{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    color: #000000;
  }

  .search h5{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    color: #B0B0B0;
  }

  .search img{
    width: 50px;
    height: 50px;
  }


  /* Info Panel */
.info-panel {
  padding: 5px;
  width: auto;
  top: -59px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.navs a{
font-family: Product Sans;
font-style: normal;
font-weight: normal;
text-align: center;
color: #292A2E;
}


  
  .sparing h2{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    color: #000000;
  }

  .sparing h5{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    color: #B0B0B0;

  }

  .tombol_sparing h3{
 
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  color: #747D8C;

  }

  .tombol_sparing{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4E5EA;
    border-radius: 4px;
  }

  .conten{
    background: #FFFFFF;
    border-radius: 24px;
  }
  
  .lain a{
    position: absolute;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    color: #F3001F;
  }

  .card{
    border: none;
  }

  
   a{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    color: #F3001F;
  }

  .dropdown a{
    color: #FFFFFF;
  }
  
  .dropdown-menu{

background: #F1F2F6;
border-radius: 4px;
  }

  .dropdown-item {
    
font-family: Product Sans;
font-style: normal;
font-weight: normal;
align-items: center;
color: #1E272E;


  }
  .navbar{
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 24px 24px; 
  }

  .anggota h2{

font-family: Product Sans;
font-style: normal;
font-weight: bold;
color: #1E272E;
  }
  .anggota h3{
font-family: Product Sans;
font-style: normal;
font-weight: normal;
color: #1E272E;
  }
  
  .modal-dialog{
    left: 25%;
    width: 50%;
    background: #FFFFFF;
    border-radius: 24px;
    position:absolute;
    bottom:0;
    margin:0;
}
.tombol{
   
 
  align-items: center;
  width: auto;
  height: auto;
  background: #F1F2F6;
  border-radius: 16px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  color: #1E272E;
}

.tombol:hover {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  color: #F3001F;
  align-items: center;
  background: rgba(243, 0, 31, 0.1);
  border-radius: 16px;
}

  /* .card{
    border: none;
  } */
 

  .tombol1{
    display: flex;
    border-radius: 4px;
    font-size: 14px;
    font-family: Product Sans;
    color: #747D8C;
    padding: 20px;
    margin: 20px;
    width: 85px;
    height: 58px;
    background-color: #E4E5EA;
    
  }



 /* TEst */
 
 /* Akhir Tes */