* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
  }
  /* Banner */
  .konten {
    background: linear-gradient(to bottom, #A8091E, #EC2028 );
    border: 1px solid #F3001F;
    box-sizing: border-box;
  }
  .konten img{
    width: 35px;
  }
  .konten .img1{
    border-radius: 50%; 
    width: 150px;  
    height: 150px;
  }
  .konten .img_2{
    width: 30px;
  }
  .content {
    padding-top: 25px;
  }

  .konten h1{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
  }

  .konten h2{  
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    margin-left:15px;
    color: #FFFFFF;
  }


  .konten h3{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    margin-left: 14px;
    color: #B0B0B0;
  }
  
  .konten h4{
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
  }
/* Akhrir Banner */
/* Info Panel */
.info-panel {
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: -55px;
}

.info-panel h1{
  width: 160px;
  height: 44px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #B0B0B0; 
  margin-left: 67px;
  }

  .info-panel img{
    margin-left: 120px;
  }
/* Akhir Info Panel */
/* Search */
.search h1{
  height: 39px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 25px;
  color: #000000;
  }
  
  .search h2{
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #B0B0B0;
  }
  .search .img_3{
    height: 40;
  }
/* Akhir Search */
  /* Buton slide */
  /* .tombol{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    color: #1E272E;
    background: #F1F2F6;
    border-radius: 16px;

  }

  .tombol:hover{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    color: #F3001F;
    background: rgba(243, 0, 31, 0.1);
    border-radius: 16px;
  } */
/* Akhir Buton Slide */
  .card{
      border: none;
  }

  
/* Add */

.add h1{
width: 200px;
height: 30px;
font-family: Product Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 20px;
color: #000000;
}
.add h2{
width: 109px;
height: 32px;
font-family: Product Sans;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 19px;
color: #B0B0B0;

}

.tbl1{
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  color: #747D8C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E4E5EA;
  border-radius: 4px;
}
/* Akhir Add */

/* Lain */
.lain a{
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #F3001F;
}
/* Akhir Lain */

/* nvbr */
  
/* Akhir nvbr */

.modal-dialog{
  position:absolute;
  bottom:0;
  margin:0;
  width:500px;
  margin-left: 400px;
  background: #FFFFFF;
}

.modal-dialog hr{
  width: 62px;
height: 6px;
background: #CED6E0;
border-radius: 3px;
}

.modal-body label{
width: 99px;
height: 17px;
font-family: Product Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #1E272E;
}

.placeholder{

font-family: Product Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #C4C4C4;

}

.modal-body .masukkan a{
width: 277px;
height: 12px;
font-family: Product Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #F3001F;
}

.modal-dialog h1{
width: 300px;
height: 25px;
font-family: Product Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #1E272E;

}

.modal-dialog h2{
width: 272px;
height: 66px;

font-family: Product Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
text-align: center;

/* Black */

color: #1E272E;
}

  /* Media Query */
  @media (min-width: 576px) { /* Banner */
    .konten {
      background: linear-gradient(to bottom, #A8091E, #EC2028 );
      border: 1px solid #F3001F;
      box-sizing: border-box;
    }
    .konten img{
      width: 35px;
    }
    .konten .img1{
      border-radius: 50%; 
      width: 100px;  
      height: 100px;
    }
    .konten .img_2{
      width: 30px;
    }
    .content {
      padding-top: 25px;
    }
  
    .konten h1{
      width: 100px;
      font-family: Product Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      text-align: center;
      color: #FFFFFF;
    }
  
    .konten h2{  
      width: 160px;
      font-family: Product Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;      
      color: #FFFFFF;
      
    }
  
  
    .konten h3{
      font-family: Product Sans;
      font-style: normal;
      font-weight: normal;
      margin-left: 14px;
      color: #B0B0B0;
    }
    
    .konten h4{
      font-family: Product Sans;
      font-style: normal;
      font-weight: normal;
      text-align: center;
      color: #FFFFFF;
    }
  /* Akhrir Banner */
 }
