.wrapper{
  background: linear-gradient(to top,  #F3001F,#A8091E );
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper #loading{
  animation: putar 2s linear  infinite;
}
  @keyframes putar{
      from{transform:rotate(0deg)}
      to{transform: rotate(360deg)}
  }
