* {
    margin: "0px";
    padding: "0px";
    text-decoration: none !important;
    list-style-type: none !important;
  }
  .contain {
    padding-top: 50px !important;
    padding-bottom: 100px !important;
    min-height: 350px;
    border-radius: 0px !important;
    width: 100%;
  }

  .konten{
    background: linear-gradient(180deg, #A8091E 0%, #EC2028 100%);
    border: 1px solid #F3001F;
    box-sizing: border-box;
  }

  
  .card1 {
    margin-top: -70px;
  }
 
 
  /* .qr {
    margin-right: 0;
  } */
  