a {
  text-decoration: none;
}
.konten .img-1{
    width: 20px;
    height: 20px;
}

.konten h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #1E272E;
}
/* kontenlistteman */
input[type=search] {
  width:410px;
  height: 45px;
  background: #F1F2F6;
  border-radius: 4px;
  border: none;
  background-image: url('../img/search.svg');
  background-position: 10px 15px;
  background-repeat: no-repeat;

  border-radius: 4px;
    padding-left: 50px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
   
    padding: 12px 40px;
    outline: none;
    box-shadow: none;
}
.kontenlistteman a{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  color: #F3001F;
}
.kontenlistteman a:hover {
  text-decoration: none;
}
.kontenlistteman h1{
  width: 117px;
  height: 20px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.kontenlistteman .imglisteman{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.kontenlistteman h2{
  width: 90px;
  height: 17px;
 font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.kontenlistteman h3{
  width: 70px;
  height: 12px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #B0B0B0;
}
.kontenlistteman .btnikuti{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #747D8C;
  padding: 12px 14px;
  width: 109px;
  height: 41px;
  background: #E4E5EA;
  border-radius: 4px;
  border: none;
}
.kontenlistteman .btnikuti:hover{
  background: #EC2028;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  
}

.kontendropdwon .dropstart .dropdown-menu{
  width: 117px;
  height: 140px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 24px;
}

.kontendropdwon .dropstart .dropdown-menu span{
  width: 34px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1E272E;
  margin-left: 20px;
  
}
.btnikutiprftmn {
  align-items: center;
  padding: 12px 14px;
  width: 146px;
  height: 41px;
  background: #EC2028;
  border-radius: 4px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}
.btnpesanprftmn {
  align-items: center;
  padding: 12px 14px;
  width: 146px;
  height: 41px;
  background: #E4E5EA;
  border-radius: 4px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #747D8C;
  border: none;
}
/* kontenlistteman */
.konten h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #696967;
}

.konten .img-2{
    width: 15px;
    height: 15px;
}

.konten2 h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #C4C4C4;
  }
  
  .konten2 a{
    font-family: 'Product Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #F3001F;
  }
  

  [data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
 
  .tabs li{
    width: 50%;
    height: 50px;
    justify-content: space-around;
    list-style-type: none;
   
    border-bottom: 0.5px solid #C4C4C4;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    color: #696967;
    
  }

  .tabs li.active{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 1px solid #D11117;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #D11117;
}

.editprofile h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1E272E;
}
  
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  /* .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  } */

  .tab-content .turnament h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .tab-content .turnament1 h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #696967;
  }
 
  .tab-content .turnament1 h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: justify;

  }
.konten2 .img2{
    width: 18.93px;
    height: 18.65px;
}
  .konten2 .card{
    width: 413px;
    height: 77px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
  }

 .konten2 .img1{
    width: 41.23px;
    height: 42px;
    border-radius: 100%;

 }


  .konten2 .imgg{
    width: 12.76px;
    height: 13px;
  }
  .konten2 h3{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F3001F;

  }
  
  .konten2 h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-size: 10px;
    line-height: 12px;

    color: #696967;
  }

  .konten4 .img1{
      width: 40px;
      height: 40px;
  }

  .konten4 h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #1E272E;
  }

  .konten4 h4{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #696967;
  }

  .konten4 h3{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #F3001F;
  }
  [aria-labelledby="profileLabel"]{
    background: #FFFFFF;border-radius: 24px; height:auto; position: fixed;
    
  }
 
  #profile .offcanvas-body label{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #747D8C;
    margin-left: -250px;
  }

  input[type=text3]{
    width: 293px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #CED6E0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  #profile .offcanvas-body  hr{
    width: 62px;
    height: 6px;
    left: 149px;
    background: #CED6E0;
    border-radius: 3px;
  }

  #profile .offcanvas-body .img-7{
    margin-left: 55px;
    margin-top: -50px;
    width: 25px;
height: 25px;
  }

  #profile .offcanvas-body .btnbatal{
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 14px;
    width: 112px;
    height: 41px;
    background: #E4E5EA;
    border-radius: 4px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #747D8C;
  }

  #profile .offcanvas-body .btnsimpan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 14px;
    width: 171px;
    height: 41px;
    background: #EC2028;
    border-radius: 4px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
  }
  #profile .offcanvas-body h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1E272E;
  }
 

  input[type=text-cari]{
    
    height: 44px;
  background: #F1F2F6;
  border-radius: 4px;
  border: none;
  background-image: url('../img/search.svg');
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding: 12px 16px;
  font-family: 'Product Sans';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #A4B0BE;
  }

  .btn-2{
    width: 350px;
    height: 44px;
    background: #F1F2F6;
    border-radius: 4px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #F3001F;
  }

  .editprofile .img1{
    width: 15px;
    height: 15px;
  }

 

  .editprofile label{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1E272E;
  }

  .editprofile span{
    color: #F3001F;
  }
  input[type=text4]{
    width: 100%;
    height: 41px;
    font-family: 'Product Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
  }

  select[type=jk]{
    width: 100%;
    height: 41px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/dropdown.svg") no-repeat ;
    background-position: 600px 15px;
  }
 
  .editprofile .simpan {
  
    align-items: center;
    width: 100%;
    height: 41px;
    background: #E4E5EA;
    border-radius: 4px;
    padding: 12px 140px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #747D8C;
  }

  .editprofile .simpan:hover{

    align-items: center;
    padding: 12px 140px;
    width: 100%;
    height: 41px;
    background: #EC2028;
    border-radius: 4px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  /* Awal Modal ikutidanundangteman */

[aria-labelledby="ikutidanundangtemanLabel"]{
  background: #FFFFFF;border-radius: 24px; height:auto; position: fixed;
}
#ikutidanundangteman .offcanvas-body hr{
  margin-top: -10px;
  width: 62px;
  height: 6px;
  background: #B0B0B0;
  border-radius: 3px;
}
#ikutidanundangteman .offcanvas-body h1{
  margin-top: -5px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 95px;
  height: 17px;
  color: #1E272E;
  text-align: center;
}
#ikutidanundangteman .offcanvas-body input[type=text]{
  width: 294px;
  height: 44px;
  background: #f1f2f6;
  border-radius: 4px;
  background-image: url('../img/copy.svg');
background-position: 270px 15px;
background-repeat: no-repeat;
cursor: pointer;
}
#ikutidanundangteman .offcanvas-body input[placeholder]{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #B0B0B0;
}
#ikutidanundangteman .offcanvas-body h2{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #1E272E;
}
#ikutidanundangteman .offcanvas-body .btnkrmlink{
  padding: 12px 14px;
  border: none;
  width: 168px;
  height: 41px;
  background: #EC2028;
  border-radius: 4px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
#ikutidanundangteman .offcanvas-body .btnbtl{

  padding: 12px 14px;
  border: none;
  width: 110px;
  height: 41px;
  background: #E4E5EA;
  border-radius: 4px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #747D8C;
}
/* Akhir Modal ikutidanundangteman */
.temukan h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1E272E;
}
.temukan .img4{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.temukan .btntmk {
  height: 15px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F3001F;
  border: none;
  padding: 13px 14px;
  height: 44px;
  background: #F1F2F6;
  border-radius: 4px;
}
 /* Awal modal pencapaian */
 [aria-labelledby="walikotacupLabel"]{
  background: #FFFFFF;border-radius: 24px; height:auto; position: fixed;
  
}
#walikotacup .offcanvas-body hr{
  width: 62px;
  height: 6px;
  background: #CED6E0;
  border-radius: 3px;
}
#walikotacup .offcanvas-body .card{
  border: none;
  margin-top: -20px;
}
#walikotacup .offcanvas-body h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1E272E;
}
#walikotacup .offcanvas-body h2{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #696967;
}
#walikotacup .offcanvas-body h3{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #B0B0B0;
}
#walikotacup .offcanvas-body .img1{
  width: 40px;
  height: 40px;
}
#walikotacup .offcanvas-body hr{
  width: 62px;
  height: 6px;
  background: #CED6E0;
  border-radius: 3px;
  margin-top: -10px;
}
#walikotacup .offcanvas-body p:nth-child(1){
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
#walikotacup .offcanvas-body p:nth-child(2){
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #C4C4C4;
}

#walikotacup .offcanvas-body p:nth-child(3){
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #F3001F;
}

#walikotacup .offcanvas-body span{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-top: -25px;
}
#walikotacup .offcanvas-body 
/* Akhir Mdal */
  .navbar{
    justify-content: space-around;
    width: 100%;
    height: 93px;
    background: #ffffff;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 24px 24px;
}
.navbar .nav-item{
    justify-content: space-around;
}
.navbar span{
    justify-content: space-around;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: auto;
    line-height: 12px;
    text-align: center;

    color: #292A2E;
}
.navbar .nav-item .profile.aktif {
  width: 19px;
height: 19px;
background: url(../img/profile-circle-2.svg);
}
.navbar .nav-item.aktif{
height: 2px;
background: #F3001F;
}
.navbar .nav-item span.aktif{
    justify-content: space-around;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: auto;
    line-height: 12px;
    text-align: center;

    color:#f3001f;
}
input:focus {
  outline: none;
  box-shadow: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
