* {
    margin: "0px";
    padding: "0px";
    text-decoration: none !important;
    list-style-type: none !important;
  }
  .content {
    padding-top: 25px;
  }
  .card{
      border: none;
  }
  .konten{
    background: linear-gradient( #A8091E, #EC2028 );
    border: 1px solid #F3001F;
    box-sizing: border-box;
  }
  .konten h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }

  .konten .img-1{
    width: 26px;
    height: 26px;
  }
  
  .konten .img2{
      width: 50px;
      height: 50px;
      border-radius: 100%;
  }

  .konten .img3{
      width: 20px;
      height: 20px;
  }

  .konten h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .konten h3{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #B0B0B0;
  }

  .konten h4{
      
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
  }

  .info-panel{
    margin-bottom: -40px;
    width: 750px;
    height: 83px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    
  }

  .konten1 img{
      margin-top: 23px;
  }

  .konten1 h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    margin-top: 10px;
    color: #B0B0B0;
  }
  /* Awal #modalKeluar */
  #modalKeluar .modal-content {
    position: absolute;
    width: 360px;
    height: 262px;
    top: 370px;
    background: #FFFFFF;
    border-radius: 24px;
    left: 50px;
  }

 #modalKeluar  .modal-content hr{
    width: 62px;
    height: 6px;
    background: #717375;
    border-radius: 3px;
  }

  #modalKeluar .modal-content h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1E272E;
  }
 #modalKeluar  .modal-content h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #1E272E;
  }

  #modalKeluar .modal-content .btnklr{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 14px;
    width: 136px;
    height: 41px;
    background: #E4E5EA;
    border-radius: 4px;
    border: none;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #747D8C;

  }

 #modalKeluar  .modal-content .btnklr1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 14px;
    width: 136px;
    height: 41px;
    background: #EC2028;
    border-radius: 4px;
    border: none;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  /* Akhir #modalKeluar */

  /* Awal #modalcrtsquad */
  #modalcrtsquad .modal-content{
    width: 360px;
    height: 366px;
    left: 65px;
    top: 260px;
    background: #FFFFFF;
    border-radius: 24px;
  }

  #modalcrtsquad .modal-content hr{
    width: 62px;
    height: 6px;
    background: #CED6E0;
    border-radius: 3px;
  }

  #modalcrtsquad .modal-content h1{
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1E272E;
  }

  #modalcrtsquad .modal-content label{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1E272E;
  }
  #modalcrtsquad .modal-content .btnar{
    padding: 12px 14px;
    width: 135px;
    height: 41px;
    background: #E4E5EA;
    border-radius: 4px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #747D8C;
    border: none;
  }
  #modalcrtsquad .modal-content .btnar1{
    padding: 12px 14px;
    width: 135px;
    height: 41px;
    background: #EC2028;
    border-radius: 4px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
  }
  #modalcrtsquad .modal-content a{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #EC2028;
  }


  /* Akhir #modalcrtsquad */

  /* Awal Create Squad Success */
  .createSquadSuccses h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #1E272E;
  }
  .createSquadSuccses h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    color: #1E272E;
  }
  .createSquadSuccses .btncs:hover{
    padding: 12px 14px;
    width: 100%;
    height: 41px;
    background: #EC2028;    
    border-radius: 4px;
    border: none;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    }
  .createSquadSuccses .btncs{
    padding: 12px 14px;
    width: 100%;
    height: 41px;
    background: #E4E5EA;
    border-radius: 4px;
    border: none;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #747D8C;
  }
  /* Akhir Create Squad Success */

  .konten1 h5{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  input[type=cari1]{
    width: 100%;
    height: 40px;
    border: none;
    background-image: url('../img/search.svg');
    background-position: 15px;
    background-repeat: no-repeat;    
    background-color: #F1F2F6;
    border-radius: 4px;
    padding-left: 50px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
   
    padding: 12px 40px;
    outline: none;
    box-shadow: none;
  } 
  .konten1 .btn5{
    width: auto;
    height: 40%;
    background: #F1F2F6;
    border-radius: 16px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1E272E;
  }

  .konten1 .btn5:hover{
    width: auto;
    height: 40%;
    background: rgba(243, 0, 31, 0.1);
    border-radius: 16px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F3001F;
  }

  .konten2 h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .konten2 h2{
    font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #B0B0B0;
  }

  .konten2 .img4{
    width: 50px;
    height: 50px;
  }

  .konten2 .btn6{
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 12px 14px;
    width: 85px;
    height: 34px;
    background: #E4E5EA;
    border-radius: 4px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #747D8C;
    
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .konten3 a{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #F3001F;
  }

  .konten4 h1{   
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #292D32;
  }
  
  .konten4 h2{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1E272E;
  }

  .konten4 h3{
    font-family: 'Product Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1E272E;
  }

  .konten5 h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #ED8A90;

  }

  .anggota h1{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
  }
 
  
  .konten4 .dropdown h1 {
    width: 100%;
    height: 26px;
    background-image: url('../img/dwon1.svg');
    background-position: 100% 1px;
    background-repeat: no-repeat;
  }
  .dropdown-menu{
    background: #CED6E0;
    border: none;
    width: 100%;
    height: 45px;
  }

  .downmenu1{
    background: #CED6E0;
    border: none;
    width: 100%;
    height: 45px;
    margin-top: 10px;
  }
  .dropdown-menu h2{
   
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
  }

  .dropdown-menu h4{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .downmenu p{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1E272E;
  }
.downmenu {
  background: #CED6E0;
    border: none;
    width: 100%;
    height: 35px;
    margin-top: 3px;
}

.downmenu h3{
  margin-top: 3px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #1E272E;
}

.createsquad .lingkaran {
  border: 2px solid #B0B0B0;
  border-radius: 100%;
  box-sizing: border-box;
  width: 89px;
  height: 89px;
}

.createsquad label{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1E272E;

}

input[type=text]{
  display: flex;
  padding: 12px;
  width: 100%;
  height: 41px;
  background: #FFFFFF;
  border: 1px solid #CED6E0;
  border-radius: 4px;
  }

  .createsquad input[placeholder]{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #e9e7e6;
  }
  .createsquad .simpan{
    padding: 12px 14px;
    width: 100%;
    height: 41px;
    background: #EC2028;
    border-radius: 4px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;  
    color: #FFFFFF;
  }

  /* Awal modalSparing */
    #modalSparing .modal-content{
      width: 360px;
      height: 461px;
      left: 77px;
      top: 160px;

      background: #FFFFFF;
      border-radius: 24px;
    }
    #modalSparing .modal-body hr{
      width: 62px;
      height: 6px;

      background: #CED6E0;
      border-radius: 3px;
    }
    #modalSparing .modal-body h1{
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #1E272E;
    }
    #modalSparing .modal-body label{
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #1E272E;
    }
    #modalSparing .modal-body select[type=pilih]{
      
        width: 100%;
        height: 41px;
        background: #FFFFFF;
        border: 1px solid #CED6E0;
        border-radius: 4px;
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    #modalSparing .modal-body span{
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;

      color: #F3001F;
      width: 277px;
      height: 12px;
    }
    #modalSparing .modal-body input[type=time]{

      width: 100%;
      height: 41px;
      background: #FFFFFF;
      border: 1px solid #CED6E0;
      border-radius: 4px;
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;

    }
    #modalSparing .modal-body input[type=date]{

      width: 100%;
      height: 41px;
      background: #FFFFFF;
      border: 1px solid #CED6E0;
      border-radius: 4px;
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;

    }

    #modalSparing .modal-body input[type=textid]{
      width: 100%;
      height: 41px;
      background: #FFFFFF;
      border: 1px solid #CED6E0;
      border-radius: 4px;
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;    }

      #modalSparing .modal-body .btn1{
      
        align-items: center;
        padding: 12px 14px;
        width: 100%;
        height: 41px;
        background: #EC2028;
        border-radius: 4px;
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      #modalSparing .modal-body h2{
        height: 66px;
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #1E272E;
      }
      #modalSparing .modal-body .btn2{
        align-items: center;
        padding: 12px 14px;
        width: 100%;
        height: 41px;
        background: #E4E5EA;
        border-radius: 4px;
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #747D8C;
      }
  /* Akhir modalSparing */


  .navbar{
    justify-content: space-around;
    width: 100%;
    height: 93px;
    background: #ffffff;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 24px 24px;
}
.navbar .nav-item{
    justify-content: space-around;
}
.navbar span{
    justify-content: space-around;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: auto;
    line-height: 12px;
    text-align: center;

    color: #292A2E;
}
.navbar .nav-item .squad.aktif {
  width: 19px;
height: 19px;
background-image: url(../img/profile-2user-2.svg);
}
.navbar .nav-item.aktif{
height: 2px;
background: #F3001F;
}
.navbar .nav-item span.aktif{
    justify-content: space-around;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: auto;
    line-height: 12px;
    text-align: center;

    color:#f3001f;
}

/* Media Query  */


 
/* Akhir modalSparing */
